@media (min-width:950px) {
    
   
    body{
        background:radial-gradient(circle at top left, #8a2be2, #00008b); 
    }
     #sec-1{
    min-height: 100%;
    width: 70%;
    }
    #sec-2{
        min-height: 100%;
         width: 30%;
    }
    
}

@media (max-width:950px) {
    nav{
        padding: 0 0.5rem;
    }
     .msg-container{
        text-align:center;
        
     }
     .Welcome-msg{
        font-size: 2.4rem;
     }
    body{
        overflow-x: hidden;
        background-color: rgb(44, 44, 44);
    }
     #skills{
        padding: 0px 26px;
    }
    #contain{
        /* background-color: aqua; */
    }
    .content{
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .card{
        min-height: 100px;
       
    }
    .Card-container{
        flex-direction: column;
        
    }
    .card article{
        display: none;
    }
    /* span{
        color: rgb(220, 220, 230);
    } */
    p{
        
        color: rgb(170,170,180);
    }
     /* .Welcome-msg{
        color:rgb(255, 123, 248)
     } */
    /* .about-container h2{
        color: rgb(170,170,170);
     } */
    .Contain{
        justify-content: center;
        align-items: center;
        padding-right: 20px;
        gap: 20px;
    }
    .about-container{
        gap:20px;
    }
   
    .container{
        display: flex;
        gap: 8px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
    }
    .container p{
        display: flex;
       text-align: justify;
       line-height: 150%;
       line-break:anywhere;
    
    }
    .sec{
     flex-direction:column-reverse;
     gap: 5vh;
     
    }
    #sec-1 ,#sec-2{
    min-height: 100px;
    width: 100%;
    }
    
}